# Основне
streamlit>=1.26.0

# Робота з даними
pandas>=2.1.0
numpy>=1.26.0

# Візуалізація
matplotlib>=3.8.0
seaborn>=0.13.2
plotly>=6.1.0
altair>=5.0.1

# Машинне навчання та статистика
scikit-learn>=1.3.0
scipy>=1.11.0
statsmodels>=0.15.2

# Робота з веб та API
requests>=2.32.0

# Робота з файлами та зображеннями
openpyxl>=3.1.0       # для Excel
xlrd>=2.0.1           # старі формати Excel
pillow>=10.0.0        # робота з зображеннями

# Інші корисні
python-dateutil>=2.9.0
